@font-face {
  font-family: 'noto_sansregular';
  src: url("../font/notosans-regular.eot");
  src: url("../font/notosans-regular.eot?#iefix") format("embedded-opentype"), url("../font/notosans-regular.woff2") format("woff2"), url("../font/notosans-regular.woff") format("woff"), url("../font/notosans-regular.ttf") format("truetype"), url("../font/notosans-regular.svg#noto_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #E9F5DB;
}

h1 {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  color: #3F4238;
}

canvas {
  display: block;
  margin: 0 auto;
  width: 500px;
  max-width: 90%;
  border: 4px outset #C2C5AA;
  background-color: #C2C5AA;
}

#answer {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}

#answer span {
  display: inline-block;
  width: 30px;
  border-bottom: 2px solid #7F4F24;
  color: #3F4238;
  font-size: 30px;
  font-weight: bold;
}

#answer span + span {
  margin-left: 10px;
}

#keyboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 600px;
  max-width: 90%;
  margin: 10px auto;
}

#keyboard button {
  width: 30px;
  height: 30px;
  margin: 4px;
  border: 2px outset #7F4F24;
  background-color: #582F0E;
  color: #FFEDD8;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  opacity: 1;
  -webkit-animation: 1s linear fadeIn;
          animation: 1s linear fadeIn;
}

#keyboard button:hover {
  cursor: pointer;
}

#keyboard button:disabled, #keyboard button.isPressed {
  border: 2px inset #7F4F24;
  opacity: 0.5;
  cursor: default;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
