@font-face {
  font-family: 'noto_sansregular';
  src: url("../font/notosans-regular.eot");
  src: url("../font/notosans-regular.eot?#iefix") format("embedded-opentype"), url("../font/notosans-regular.woff2") format("woff2"), url("../font/notosans-regular.woff") format("woff"), url("../font/notosans-regular.ttf") format("truetype"), url("../font/notosans-regular.svg#noto_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #E9F5DB;
}

h1 {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  color: #3F4238;
}

canvas {
  display: block;
  margin: 0 auto;
  width: 500px;
  max-width: 90%;
  border: 4px outset #C2C5AA;
  background-color: #C2C5AA;
}

#answer {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}

#answer span {
  display: inline-block;
  width: 30px;
  border-bottom: 2px solid #7F4F24;
  color: #3F4238;
  font-size: 30px;
  font-weight: bold;
}

#answer span.notFound {
  color: #6A040F;
}

#answer span + span {
  margin-left: 10px;
}

#keyboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 600px;
  max-width: 90%;
  margin: 10px auto;
}

#keyboard button {
  width: 30px;
  height: 30px;
  margin: 4px;
  border: 2px outset #7F4F24;
  background-color: #582F0E;
  color: #FFEDD8;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  opacity: 1;
  -webkit-animation: 1s linear fadeIn;
          animation: 1s linear fadeIn;
}

#keyboard button:hover {
  cursor: pointer;
}

#keyboard button:disabled, #keyboard button.isPressed {
  border: 2px inset #7F4F24;
  opacity: 0.5;
  cursor: default;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#game_over {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 600px;
  max-width: 90%;
  margin: 30px auto;
  color: #3F4238;
}

#game_over * {
  text-align: center;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
}

#game_over p {
  width: 200px;
  margin: 10px auto;
  overflow-wrap: anywhere;
}

#game_over button, #game_over a {
  vertical-align: middle;
  padding: 4px 10px;
  border: 2px outset #7F4F24;
  background-color: #582F0E;
  color: #FFEDD8;
}

#game_over a {
  width: 196px;
  margin: 10px auto;
  text-decoration: none;
}

#game_over button {
  width: 220px;
}

#game_over button:hover {
  cursor: pointer;
}

#game_over button:active, #game_over button:disabled {
  border: 2px inset #7F4F24;
  opacity: 0.5;
}

#stats p {
  margin: 4px auto;
}

#stats p:nth-child(odd) {
  margin-bottom: 0px;
}

#stats p:nth-child(even) {
  margin-top: 0px;
}
