#answer {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    span {
        display: inline-block;
        width: 30px;
        border-bottom: 2px solid $BullShot;
        color: $Kelp;
        font-size: 30px;
        font-weight: bold;
        &.notFound {
            color: $RedOxide;
        }
        + span {
            margin-left: 10px;
        }
    }
}